a {
  height: 100% !important;

  width: max-content;
  position: fixed;
}
input {
  box-shadow: none !important;
  margin: 50px 0px !important;
}
select {
  box-shadow: none !important;
}
.bi-x-lg {
  box-shadow: none !important;
}
button {
  box-shadow: none !important;
}
